<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS Web Server</title>
</head>
<body>
    <h1>Hellow CUkkkkk!!!</h1>
    <p>Welcome to my site...</p>
</body>
</html>